@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--font-geist-sans: "GeistSans", -apple-system, BlinkMacSystemFont, "Segoe UI",
		"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	--font-geist-mono: "GeistMono", "SF Mono", "Monaco", "Inconsolata",
		"Roboto Mono", "Source Code Pro", "Menlo", "Consolas", "DejaVu Sans Mono",
		monospace;
}

body {
	font-family: var(--font-geist-sans);
}
